@font-face {
  font-family: 'EngraversGothic BT';
  src: url('./fonts/engravers-gothic-bt.ttf');
}

:root {
  --white: #fff;
  --bodyBg: #111;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--bodyBg);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--white);
  text-decoration: none;

  &:hover {
    color: var(--white);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  @media (min-width: 1600px) {
    max-width: 1500px;
  }

  @media (min-width: 1800px) {
    max-width: 1760px;
  }
}
