.header {
  padding-top: 1.125rem;
  padding-bottom: 2.375rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  flex: 1;

  &__image {
    flex: 0 1 200px;
    max-width: 200px;
    height: auto;

    @media (max-width: 460px) {
      flex: 0 0 105px;
      max-width: 105px;
      height: auto;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 65px;
    height: 1px;
    background-color: var(--white);
    align-self: flex-end;
    margin: 0 1rem 0.4375rem -0.75rem;
  }
}
