.localizacao {
  background: #222;
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  text-align: center;

  h1 {
    color: #828282;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      font-size: 1.875rem;
    }

    &::after {
      content: '';
      display: block;
      width: 120px;
      display: block;
      width: 120px;
      height: 1px;
      background-color: var(--white);
      margin-left: 1.75rem;

      @media (max-width: 575px) {
        width: 50px;
        margin-left: 0.75rem;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 120px;
      height: 1px;
      background-color: var(--white);
      margin-right: 1.75rem;

      @media (max-width: 575px) {
        width: 50px;
        margin-right: 0.75rem;
      }
    }
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 5.625rem;

    @media (min-width: 576px) {
      font-size: 4rem;
    }

    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }

  &__container {
    background-color: #4f4f4f;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      height: 454px;
    }

    @media (min-width: 992px) {
      grid-template-columns: 3fr 2fr;
    }

    &:first-of-type {
      margin-bottom: 5.625rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      position: relative;
      z-index: 300;

      @media (max-width: 767px) {
        height: 400px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      padding: 3rem 1rem;
    }

    h3 {
      font-size: 2.75rem;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 3.25rem;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 120px;
        height: 1px;
        background-color: var(--white);
        position: absolute;
        top: calc(44px / 2);
        left: calc(-120px - 1.5rem);
        z-index: 200;
      }
    }

    li {
      letter-spacing: -0.02em;

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
