.rafael-hero {
  height: 221px;
  background-color: #030303;
  background-image: url('./images/rafael-garroni/bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  transition: all 0.5s;

  @media (min-width: 576px) and (max-width: 767px) {
    height: 321px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    height: 570px;
  }

  @media (min-width: 1200px) {
    height: 721px;
    background-size: auto;
    background-position: center center;
  }

  &:hover {
    background-image: url('./images/rafael-garroni/bg-hover.png');
  }

  &__title {
    text-indent: -999999px;
  }
}

.rafael-garroni {
  padding-top: 4.375rem;
  padding-bottom: 4.25rem;
  text-align: center;
  background: #222;

  .container {
    & > p {
      max-width: 1164px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  h1 {
    color: #828282;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      font-size: 1.875rem;
    }

    &::after {
      content: '';
      display: block;
      width: 120px;
      display: block;
      width: 120px;
      height: 1px;
      background-color: var(--white);
      margin-left: 1.75rem;

      @media (max-width: 575px) {
        width: 50px;
        margin-left: 0.75rem;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 120px;
      height: 1px;
      background-color: var(--white);
      margin-right: 1.75rem;

      @media (max-width: 575px) {
        width: 50px;
        margin-left: 0.75rem;
      }
    }
  }

  h2 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 3.75rem;

    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }

  p {
    font-size: 0.875rem;
    line-height: 2.5;
    letter-spacing: -0.02em;
    margin-bottom: 5.625rem;

    @media (min-width: 576px) {
      font-size: 1rem;
    }

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;
    align-items: center;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    div {
      h2 {
        text-align: left;
        font-size: 3.125rem;

        @media (max-width: 767px) {
          text-align: center;
          margin-top: 2rem;
        }
      }

      p {
        text-align: left;
        font-size: 1rem;
        margin: 0;

        @media (max-width: 767px) {
          text-align: center;
          margin-bottom: 2rem;
        }
      }

      &:first-of-type {
        @media (min-width: 768px) {
          padding-left: 1.875rem;
        }

        h2 {
          position: relative;
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: calc(50px / 2);
            left: -3.75rem;
            width: 40px;
            height: 1px;
            background-color: var(--white);

            @media (max-width: 767px) {
              display: none;
            }
          }
        }
      }

      &:last-of-type {
        @media (min-width: 768px) {
          padding-right: 1.875rem;
        }

        h2 {
          text-align: right;
          position: relative;

          @media (max-width: 767px) {
            text-align: center;
          }

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: calc(50px / 2);
            right: -3.75rem;
            width: 40px;
            height: 1px;
            background-color: var(--white);

            @media (max-width: 767px) {
              display: none;
            }
          }
        }

        p {
          text-align: right;

          @media (max-width: 767px) {
            text-align: center;
          }
        }
      }
    }

    img {
      &:first-child {
        @media (min-width: 768px) {
          height: 100%;
          object-fit: cover;
          object-position: center;
          width: 100%;
        }
      }

      &:last-child {
        @media (min-width: 768px) {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.rafael-contato {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url('./images/rafael-garroni/contato.png') no-repeat center center;
  background-size: cover;

  @media (min-width: 768px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (min-width: 992px) {
    padding-top: 6.4375rem;
    padding-bottom: 6.4375rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
      font-size: 3rem;
    }

    @media (min-width: 992px) {
      font-size: 3.75rem;
    }
  }

  a {
    display: block;
    padding-top: 1.625rem;
    padding-bottom: 1.375rem;
    text-align: center;
    max-width: 15rem;
    margin: 0 auto;
    font-size: 1.25rem;
    letter-spacing: -0.02em;

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 75%;
      background-color: var(--white);
      margin: 1.375rem auto 0 auto;
    }
  }
}
