.vestidos-categoria {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  text-align: center;
  background: #222;

  h1 {
    color: #828282;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      font-size: 1.875rem;
    }

    &::after {
      content: '';
      display: block;
      width: 120px;
      display: block;
      width: 120px;
      height: 1px;
      background-color: var(--white);
      margin-left: 1.75rem;

      @media (max-width: 575px) {
        width: 50px;
        margin-left: 0.75rem;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 120px;
      height: 1px;
      background-color: var(--white);
      margin-right: 1.75rem;

      @media (max-width: 575px) {
        width: 50px;
        margin-left: 0.75rem;
      }
    }
  }

  h2 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 5.625rem;

    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }

  &__container {
    position: relative;
  }

  &__voltar {
    position: absolute;
    left: 0;
    top: 0;
    @media (max-width: 575px) {
      left: 1rem;
      top: -4rem;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      top: -3rem;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 7%;
    padding-left: 8.3333337%;
    padding-right: 8.3333337%;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      padding: 0 0.75rem;
      max-width: 540px;
      margin: 0 auto;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      grid-template-columns: 1fr;
      padding: 0 0.75rem;
      max-width: 720px;
      margin: 0 auto;
    }
  }

  &__column {
    @media (max-width: 575px) {
      display: grid;
      grid-template-columns: 1fr;
      &:not(:first-of-type) {
        margin-top: 1.25rem;
      }
    }

    @media (min-width: 576px) and (max-width: 991px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.25rem;
    }

    &:nth-child(2) {
      @media (min-width: 992px) {
        margin-top: 5rem;
      }
    }
  }

  &__item {
    height: 450px;
    overflow: hidden;
    background-color: #333;

    @media (min-width: 1200px) {
      height: 574px;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--text {
      padding: 1.25rem;

      h3 {
        font-size: 2rem;
        letter-spacing: -0.02em;
        margin: 0;
        width: 100%;
        text-transform: uppercase;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: var(--white);
          margin-top: 1.875rem;
          margin-bottom: 3.125rem;
        }
      }

      p {
        line-height: 2.5;
        letter-spacing: -0.02em;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 5rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
